pip install mime

pip install os

pip install smtplib

pip install firebase_admin

pip install numpy

pip install pandas

pip install requests 

pip install flask 

pip install flask_cors 

pip install imutils

pip install email
 
pip install email.mime.audio 
pip install email.mime.base 
pip install email.mime.image 
pip install email.mime.multipart 
# ENVIO POR EMAIL
pip install email.mime.text 
